<h2>Previous Guesses:</h2>

<table style="width:50%" id="user-guesses">
  <thead>
      <tr>
        <th>Your Guess</th>
        <th>Result</th>
      </tr>
    </thead>
<table style='width:50%' id="user-guesses">
  <thead>
    <tr>
      <th>Your Guess</th>
      <th>Result</th>
    </tr>
  </thead>
  <td id="guessPadding">
    {{#each storingData.userGuess as |guess|}}
      <tr>{{guess}}</tr>
    {{/each}}
  </td>
  <td>
    {{#each storingData.pegsArray as |pegArray|}}
      <tr>{{black-white pegArray}}</tr>
      <tr>{{pegArray}}</tr>
    {{/each}}
  </td>
</table>
