<div id="grey-box">
<h2>Attempts:</h2>

<table id="userGuesses">

  <thead>
    <tr>
      <th>Guesses</th>
      <th id="guessPadding">Your Guess</th>
      <th id="guessPadding">Result</th>
    </tr>
  </thead>
  <td id="numbers">
    <tr>1</tr>
    <tr>2</tr>
    <tr>3</tr>
    <tr>4</tr>
    <tr>5</tr>
    <tr>6</tr>
    <tr>7</tr>
    <tr>8</tr>
    <tr>9</tr>
    <tr>10</tr>
  </td>
  <td id="dataDiv">
    {{#each storingData.userGuess as |guess|}}
      <tr>{{number-color guess}}</tr>
    {{/each}}
  </td>
  <td id="pegDiv">
    {{#each storingData.pegsArray as |pegArray|}}
      <tr>{{black-white pegArray}}</tr>
    {{/each}}
  </td>
</table>
</div>
