<h1>Welcome!</h1>
<h4>Break the code by choosing four colors in any order, click the color to select it!</h4>
<h4>You get ten guesses...if you guess the right color in the right position, you will get a black peg.</h4>
<h4>If you guess the right color but it's in the wrong position, you will get a white peg.</h4>
<br>
<button id="startGame" class="btn btn-danger" {{action 'startGame'}}>Start Game!</button>
<hr>
