<form>

  {{#x-select value=number0 action="selectColor1"}}
    {{#x-option value=0 class="red"}}Red{{/x-option}}
    {{#x-option value=1}}Yellow{{/x-option}}
    {{#x-option value=2}}Blue{{/x-option}}
    {{#x-option value=3}}Green{{/x-option}}
  {{/x-select}}

  {{#x-select value=number1 action="selectColor2"}}
    {{#x-option value=0}}Red{{/x-option}}
    {{#x-option value=1}}Yellow{{/x-option}}
    {{#x-option value=2}}Blue{{/x-option}}
    {{#x-option value=3}}Green{{/x-option}}
  {{/x-select}}

  {{#x-select value=number2 action="selectColor3"}}
    {{#x-option value=0}}Red{{/x-option}}
    {{#x-option value=1}}Yellow{{/x-option}}
    {{#x-option value=2}}Blue{{/x-option}}
    {{#x-option value=3}}Green{{/x-option}}
  {{/x-select}}

  {{#x-select value=number3 action="selectColor4"}}
    {{#x-option value=0}}Red{{/x-option}}
    {{#x-option value=1}}Yellow{{/x-option}}
    {{#x-option value=2}}Blue{{/x-option}}
    {{#x-option value=3}}Green{{/x-option}}
  {{/x-select}}


  <button {{action 'guess'}}>Guess</button>



</form>
