#site-title{
  font-family: monospace;
  font-size: 80px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  color: #3F7CFF;
}

#site-title a{
  color: #3F7CFF;
}

#site-title :hover,
#site-title :focus {
  text-decoration: none;
  color: blue;
}


#site-subtitle{
  font-family: monospace;
  font-size: 19px;
  text-align: center;
  color: #3F7CFF;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

#about-subtitle{
  font-family: monospace;
  font-size: 22px;
  color: #3F7CFF;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

#about-authors a{
  font-family: monospace;
  font-size: 18px;
  color: #3F7CFF;
}

#about-authors :hover,
#about-authors :focus{
  color: blue;
  text-decoration: none;
}

.row{
margin-left: auto;
margin-right: auto;
text-align: center;
font-family: monospace;
font-size: 19px;
color: white;
background-color: #3F7CFF;
}

.row a{
  color: white;
}

.row :hover,
.row :focus {
  text-decoration: none;
  color: yellow;
}

.container{
  padding-top: 40px;
}


.glyphicon-plus-sign {
  color: black;
}
.glyphicon-minus-sign {
  color: red;

/**Table Styling**/
#user-guesses {
  border: 1px solid lightgrey;


}

#guessPadding {
  padding-left: 10px;
}
