<p id="about-subtitle">Created by:</p>
<p id="about-authors">
  <a href="https://github.com/Farnoosh63">Farnoosh</a><br>
  <a href="https://github.com/LucaIta">Luca</a><br>
  <a href="https://github.com/alexhagge128">Alex</a><br>
  <a href="https://github.com/techdaly">Amanda</a>
</p>
